@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}

html,body{height: 100vh;font-family: 'Open Sans', sans-serif;}

:root{
	--df:flex;
	--jcc:center;
	--jca:space-around;
	--jcb:space-betwween;
	--ai:center;
	--bgp:#000;
	--bgb:#fff;
    --umRem:1rem;
    --meioRem:.5rem;
}

.center{display:var(--df);justify-content: var(--jcc);align-items: var(--ai);}
.margin{display:var(--df);justify-content: var(--jca);align-items: var(--ai);}
.space{display:var(--df);justify-content: var(--jcb);align-items: var(--ai);}


.brd{border: 1px solid;background-color:var(--bgb)}

.painelDaniel, .orcamento{width: 950px;height: 600px; background-color: #ECF0F6;margin: 0 auto;}
.topo{height: 85px; padding: var(--umRem); background-color: #018AC0}
.topo img{width: 150px;}
.menu{ width: 180px; padding: var(--umRem); border-right: 1px solid}
.menu ul li{margin: var(--umRem) 0}

.base, .orcar, .topoOrcar, .recibo {width: 100%;}
.topoOrcar img{width: 100%;padding: var(--umRem);}
.consulta{width: 750px; padding: var(--meioRem)}
.consulta form input{width: 85%; margin: var(--umRem) auto; display: block; padding: var(--meioRem); border-radius: var(--meioRem); border: 0; outline: 0}

table{width: 75%}

.cadastra form{width: 350px; padding: var(--umRem);}
.cadastra input{width: 300px; height: 35px; margin:var(--meioRem)}
.cadastra textarea{width: 350px; height: 165px;}
.campo2{width: 650px;}
.dados{width: 100%;font-size: 11pt;}

.mostra{width: 100%; padding: var(--umRem);border: 0; border-radius: var(--meioRem); }
.tel, .cpf{width: 225px;}

.number{width: 100%;padding: var(--umRem);}
.num{font-size: 18pt; font-weight: bold;}
.dia{font-weight: bold;}
/* .prazo{font-size: 10pt;} */

.cliente{padding: var(--umRem);}
.baseOrcado{width: 100%; height: auto; padding: var(--umRem);}

.modal{ width: 100vw;height: 100vh;color:#fff; position: absolute; top: 0; left: 0; background-color: rgba(0, 63, 117,.9);}
.modal form{width: 300px;text-align: center;}
.modal form input{width: 100%; height: 30px;margin: var(--meioRem) 0;padding: var(--meioRem);}
.home{width: 800px;}
.home h1{width: auto;}

.orcar{text-align: center;}
.orcar form{width: 550px; margin: var(--umRem) 0;}
.orcar form input{width: 350px; height: 25px; padding: var(--meioRem);margin: var(--meioRem) 0; }

.dados{width: 100%;height: 150px; padding: var(--umRem);}
.dados input{height: 25px; padding: var(--meioRem);}
.btn{background-color:green}

.formulario input{height: 25px; padding: var(--meioRem); }
.total{width: 400px;font-weight: bold;font-size: 13pt; text-align: right;}
.recibo form{width: 350px;padding: var(--umRem);}
.recibo form input{width: 100%; height: 30px; padding: var(--meioRem);margin: var(--meioRem) 0;}
.acao{width: 600px; margin: 0 auto; padding: var(--umRem);}
.topoRecibo{margin: var(--umRem) 0;}
.baseRecibo span, .topoRecibo span, p{font-weight: bold;font-size: 15pt;font-style: italic;}
.footerRecibo{height: 100px;padding: var(--umRem);margin: var(--umRem) 0;}
.btnPrint{width: 100%;text-align: center}
.btnPrint button{padding: 0.1rem; background-color: blue;color: #fff; font-size: 18pt}

@media(max-width: 768px){
	.painelDaniel{ width: 100%; height:100vh}
	.base{display: block; width: 100%}
	.menu{ width: 100%; text-align: center}
	.menu ul li{ display: inline-block; width: 100%}
	.menu li{display: inline; margin: 0 var(--umRem)}
	.consulta{width: 100%}
	.consulta form input{width: 100%}
	table{width: 100%; font-size: 8pt;}
	.home{width: 100%;}
	.cadastra form textarea{width: 330px;}
	.orcamento, .acao{width: 100%;}
	.baseOrcado, .recibo, .baseRecibo{width: 100%;}

	
	
}

@media print{
	.topoOrcar{height: auto;}
	.base{height: 100%;}
	.formulario{display: none;}
	box-icon{display: none;}
	button{display:none}
}