/* 
<footer> 
*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 60px;
  background-color: var(--cor-preto);
  border-top: solid 1px #6C6C6C;
}

footer .copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
}

footer .copyright img {
  width: 100%;
  max-width: 150px;
}

footer .copyright h3 {
  font-family: var(--semibold);
  font-size: var(--f2);
  color: var(--cor-cinza);
  margin: 30px 0 5px 0;
}

footer .copyright p {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-cinza);
  line-height: 1.5;
  width: 100%;
  max-width: 600px;
}

footer .copyright .linha {
  width: 150px;
  height: 2px;
  background-color: #ffffff2a;
  margin: 20px 0 30px 0;
}

footer .copyright h4 {
  font-family: var(--semibold);
  font-size: var(--f1);
  color: var(--cor-cinza);
}

footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

footer .links h2 {
  font-family: var(--semibold);
  font-size: var(--f5);
  color: var(--cor-cinza);
  line-height: 1.3;
  width: 100%;
  max-width: 450px;
}

footer .links .partes {
  display: flex;
  align-items: flex-start;
  width: 100%;
  max-width: 450px;
}

footer .links .partes .parte {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55%;
}

footer .links .partes .parte a {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-cinza);
  margin: 20px 0 0 0;
  transition: all 0.3s;
}

footer .links .partes .parte a:hover {
  color: var(--cor-azul);
}

footer .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
}

footer .redes h3 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-branco);
  margin: 0 0 15px 0;
}

footer .redes .botoes {
  display: flex;
  align-items: center;
}

footer .redes .botoes a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  background-color: #ffffff33;
  margin: 0 5px;
  transition: all 0.3s;
}

footer .redes .botoes a:hover {
  background-color: #0098d97a;
}

footer .redes .botoes a img {
  width: 100%;
  max-width: 25px;
}

/* 
Responsivo 
*/
@media screen and (max-width: 1000px) {
  footer {
    flex-direction: column;
    padding: 50px 30px 80px 30px;
  }

  footer .copyright {
    width: 100%;
  }

  footer .copyright img {
    max-width: 150px;
  }

  footer .copyright p {
    font-size: var(--f2);
  }

  footer .copyright .linha {
    width: 180px;
  }

  footer .links {
    width: 100%;
    margin: 30px 0 0 0;
  }

  footer .redes {
    align-items: flex-start;
    width: 100%;
    margin: 30px 0 0 0;
  }

  footer .redes h3 {
    font-family: var(--semibold);
  }
}