section.slide-aquecedores {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  height: 500px;
  align-items: center;
  background-color: var(--cor-preto);
  height: 500px;
  width: 100%;
  height: 100vh;
}

section.slide-aquecedores .titulo-topo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 50px;
  position: relative;
  text-align: center;
  z-index: 3;
}

section.slide-aquecedores .titulo-topo h2 {
  font-family: var(--bold);
  font-size: var(--f6);
  color: var(--cor-branco);
  line-height: 1.2;
  margin: 60px 0 20px 0;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

section.slide-aquecedores.animar .titulo-topo {
  animation: efeito-titulo-topo 1s ease-in-out;
}

@keyframes efeito-titulo-topo {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


section.slide-aquecedores .titulo-topo p {
  color: var(--cor-branco);
  font-family: var(--light);
  font-size: var(--f2);
  line-height: 1.5;
  width: 100%;
}

.aquece-principal {
  width: 100%;
  display: flex;
  height: 100%;
}

section.slide-aquecedores .texto h2 {
  color: var(--cor-branco);
  font-family: var(--semibold);
  font-size: var(--f5);
  line-height: 1.3
}

section.slide-aquecedores .texto p {
  color: var(--cor-branco);
  font-family: var(--light);
  font-size: var(--f2);
  line-height: 1.5;
  margin: 15px 0 10px;
  max-width: 490px;
  width: 100%;
}

section.slide-aquecedores .texto a {
  display: flex;
  align-items: center;
  background-color: var(--cor-azul);
  padding: 10px 25px 10px 10px;
  border-radius: 8px;
  margin: 15px 0 0 0;
  transition: all 0.3s;
  width: fit-content;
}

section.slide-aquecedores .texto a:hover {
  filter: brightness(110%);
}

section.slide-aquecedores .texto a h3 {
  font-family: var(--semibold);
  font-size: var(--f3);
  color: var(--cor-branco);
}

section.slide-aquecedores .texto a .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  margin: 0 10px 0 0;
}

section.slide-aquecedores .texto a .icone img {
  width: 100%;
  max-width: 20px;
}

section.slide-aquecedores .itens-aquecedores {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 55%
}

section.slide-aquecedores .itens-aquecedores button.acao {
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 65px;
  justify-content: center;
  position: absolute;
  transition: all .3s ease;
  width: 65px;
  z-index: 2
}

section.slide-aquecedores .itens-aquecedores button.acao svg {
  height: 30px;
  width: 30px;
  fill: var(--cor-branco)
}

section.slide-aquecedores .itens-aquecedores button.acao.voltar {
  background-color: #2A292C;
  left: 35%;
  border: solid 1px #dedede5c;

}

section.slide-aquecedores .itens-aquecedores button.acao.voltar svg {
  transform: rotate(180deg)
}

section.slide-aquecedores .itens-aquecedores button.acao.avancar {
  background-color: #2A292C;
  left: 90%;
  border: solid 1px #dedede5c;

}

section.slide-aquecedores .itens-aquecedores img {
  position: absolute;
  transition: all .5s ease-in-out;
  width: 100%;
  z-index: 2
}

section.slide-aquecedores .itens-aquecedores .efeito {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 45%;
  width: 40%;
}

section.slide-aquecedores .itens-aquecedores .efeito .linha {
  position: absolute;
  border: 2px solid #0099D9;
  border-radius: 50%;
  animation: rodando linear infinite;
}

@keyframes rodando {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

section.slide-aquecedores .itens-aquecedores .efeito .linha.um {
  width: 300px;
  height: 300px;
  animation-duration: 10s;
  border-right: 1px solid transparent;
}

section.slide-aquecedores .itens-aquecedores .efeito .linha.dois {
  width: 400px;
  height: 400px;
  animation-duration: 15s;
  opacity: 0.4;
  border-left: 1px solid transparent;
}

section.slide-aquecedores .itens-aquecedores .efeito .linha.tres {
  width: 500px;
  height: 500px;
  animation-duration: 20s;
  opacity: 0.2;
  border-top: 1px solid transparent;

}

section.slide-aquecedores .itens-aquecedores .efeito img.primeiro {
  left: 45%;
  width: 40%;
}

section.slide-aquecedores .itens-aquecedores img.primeiro {
  left: 50%;
  max-width: 28%;
}

section.slide-aquecedores .itens-aquecedores img.segundo {
  left: 50px;
  transform: translateY(40px);
  width: 20%
}

section.slide-aquecedores .itens-aquecedores img.terceiro {
  left: -5%;
  width: 5%
}

.slide-aquecedores-enter-active,
.slide-aquecedores-leave-active {
  transition: all .5s ease-in-out
}

.slide-aquecedores-enter-from {
  opacity: 0;
  transform: translate(100px)
}

.slide-aquecedores-leave-to {
  opacity: 0;
  transform: translate(-100px)
}

.slide-aquecedores-move {
  transition: all .5s ease-in-out
}

.texto-enter-active,
.texto-leave-active {
  transition: opacity .3s ease
}

.texto-enter-from,
.texto-leave-to {
  opacity: 0
}

section.slide-aquecedores .texto {
  width: 45%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 0 80px 0 10px;
}

.texto-area {
  position: relative;
  width: 100%;
  min-height: 240px;
  /* ajuste conforme o maior texto */
}

.texto-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  /* transition: opacity 0.3s ease; */
}

.texto-slide.ativo {
  opacity: 1;
  pointer-events: auto;
  margin-top: 130px;
  padding: 0 80px 0 10px;
}

@media screen and (max-width: 1000px) {
  section.slide-aquecedores {
    flex-direction: column;
    height: auto
  }

  img.divisor-preto {
    width: 80%;
  }

  section.slide-aquecedores .titulo-topo {
    padding: 0px 30px 30px;
  }

  section.slide-aquecedores .titulo-topo h2 {
    font-size: var(--f5);
    max-width: 400px;
    margin: 30px 0 20px 0;
  }

  .aquece-principal {
    flex-direction: column;
  }

  section.slide-aquecedores .texto {
    padding: 0 25px 80px;
    width: 100%;
  }

  section.slide-aquecedores .texto a {
    padding: 10px 35px 10px 10px;
    margin: 15px 0 0 0;
  }

  section.slide-aquecedores .texto a h3 {
    font-size: var(--f2);
  }

  section.slide-aquecedores .texto h2 {
    font-size: var(--f3);
  }

  section.slide-aquecedores .itens-aquecedores {
    height: 300px;
    width: 100%
  }

  section.slide-aquecedores .itens-aquecedores .efeito {
    position: static;
  }

  section.slide-aquecedores .itens-aquecedores .efeito .linha.um {
    height: 200px;
    width: 200px;
  }

  section.slide-aquecedores .itens-aquecedores .efeito .linha.dois {
    height: 400px;
    width: 400px;
  }

  section.slide-aquecedores .itens-aquecedores .efeito .linha.tres {
    height: 300px;
    width: 300px;
  }

  section.slide-aquecedores .itens-aquecedores button.acao.voltar {
    background-color: var(--cor-escuro-4);
    left: 25px;
    transform: translateY(-30px)
  }

  section.slide-aquecedores .itens-aquecedores button.acao.avancar {
    background-color: var(--cor-escuro-3);
    left: auto;
    right: 25px
  }

  section.slide-aquecedores .itens-aquecedores img {
    position: absolute;
    transition: all .5s ease-in-out;
    width: 100%;
    z-index: 2
  }

  section.slide-aquecedores .itens-aquecedores img.primeiro {
    left: 28%;
    max-width: 35%;
  }

  section.slide-aquecedores .itens-aquecedores img.segundo {
    left: 15px;
    transform: translateY(70px);
    width: 15%
  }

  section.slide-aquecedores .itens-aquecedores img.terceiro {
    left: -5%;
    width: 5%
  }


  .texto-slide.ativo {
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 25px 80px;
    width: 100%;
    margin-top: 0;
  }


}