/* 
<section class="quem-somos"> 
*/
section.quem-somos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--cor-gelo);
  padding: 80px 0px 10px 0px;
}

section.quem-somos .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 60px 60px 60px;
  width: 50%;
}

section.quem-somos .texto .tag {
  display: flex;
  align-items: center;
}

section.quem-somos .texto .tag img {
  width: 100%;
  max-width: 15px;
  margin: 0 10px 0 0;
}

section.quem-somos .texto .tag h3 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-preto);
  margin: 0px;
}

section.quem-somos .texto .tag h3 span {
  font-family: var(--semibold);
}

section.quem-somos .texto h1 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
  line-height: 1.3;
  margin: 15px 0 0 0;
  width: 100%;
  max-width: 600px;
}

section.quem-somos .texto h2 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-preto);
  line-height: 1.3;
  margin: 15px 0 0 0;
  width: 100%;
  max-width: 600px;
}

section.quem-somos .texto h1 span {
  color: var(--cor-laranja);
}

section.quem-somos .texto p {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-preto);
  line-height: 1.5;
  margin: 10px 0 0 0;
  width: 100%;
  max-width: 600px;
}

section.quem-somos .texto p strong {
  font-weight: 600;
}

section.quem-somos .texto a {
  display: flex;
  align-items: center;
  background-color: var(--cor-vermelho);
  padding: 10px 25px 10px 10px;
  border-radius: 8px;
  margin: 20px 0 0 0;
  transition: all 0.3s;
}

section.quem-somos .texto a:hover {
  filter: brightness(110%);
}

section.quem-somos .texto a h3 {
  font-family: var(--semibold);
  font-size: var(--f3);
  color: var(--cor-branco);
  margin: 0px;
}

section.quem-somos .texto a .icone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--cor-branco);
  margin: 0 10px 0 0;
}

section.quem-somos .texto a .icone img {
  width: 100%;
  max-width: 20px;
}

section.quem-somos .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  position: relative;
}

section.quem-somos .imagem img.homem {
  width: 100%;
  max-width: 600px;
  z-index: 2;
}

/* 
Responsivo 
*/
@media screen and (max-width: 1000px) {
  section.quem-somos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 0px 20px 0px;
  }

  section.quem-somos .texto {
    align-items: center;
    text-align: center;
    padding: 40px 30px 40px 30px;
    width: 100%;
  }

  section.quem-somos .texto .tag img {
    max-width: 13px;
    margin: 0 8px 0 0;
  }

  section.quem-somos .texto .tag h3 {
    font-size: var(--f2);
  }

  section.quem-somos .texto h1 {
    font-size: var(--f5);
    max-width: 300px;
  }

  section.quem-somos .texto h2 {
    font-size: var(--f5);
    max-width: 300px;
  }

  section.quem-somos .texto p {
    font-size: var(--f2);
    max-width: 350px;
  }

  section.quem-somos .texto a {
    padding: 10px 35px 10px 10px;
    margin: 15px 0 0 0;
  }

  section.quem-somos .texto a h3 {
    font-size: var(--f2);
  }

  section.quem-somos .imagem {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
  }

  section.quem-somos .imagem img.homem {
    max-width: 300px;
  }
}