/* 
<section class="depoimentos"> 
*/
section.depoimentos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--cor-preto);
  padding: 80px 0 60px 0;
}

section.depoimentos .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 0 60px;
}

section.depoimentos .texto h2 {
  font-family: var(--semibold);
  font-size: var(--f6);
  color: var(--cor-branco);
  line-height: 1;
  max-width: 250px;
}

section.depoimentos .texto h2 span {
  color: var(--cor-azul);
}

section.depoimentos .texto p {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-branco);
  line-height: 1.5;
  margin: 10px 0 0 0;
  width: 100%;
  max-width: 400px;
}

section.depoimentos .texto .tag {
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
}

section.depoimentos .texto .tag img {
  width: 100%;
  max-width: 40px;
}

section.depoimentos .texto .tag .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 0 10px;
}

section.depoimentos .texto .tag .info h3 {
  font-family: var(--semibold);
  font-size: var(--f2);
  color: #FE6401;
  margin: 0 0 5px 0;
}

section.depoimentos .texto .tag .info h4 {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-branco);
}

section.depoimentos .slide-depoimentos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  position: relative;
  overflow: hidden;
}

section.depoimentos .slide-depoimentos .sombra {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background: linear-gradient(0deg, #1d1d1d00, #1D1D1D);
  background: -webkit-linear-gradient(0deg, #1d1d1d00, #1D1D1D);
  z-index: 2;
}

section.depoimentos .slide-depoimentos .sombra.dois {
  display: none;
}

section.depoimentos .slide-depoimentos .itens-depoimento {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  animation: itens-depoimentoDepoimentos 240s linear infinite;
}

@keyframes itens-depoimentoDepoimentos {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(-1500px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

section.depoimentos .slide-depoimentos .itens-depoimento .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px;
  width: 300px;
  min-width: 300px;
  background-color: #242528;
  margin: 0 20px 0 0;
  border-radius: 10px;
  border: solid 1px #CFD6DA;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento {
  display: flex;
  align-items: center;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento .foto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 15px 0 0;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento .info h3 {
  font-family: var(--light);
  font-size: var(--f3);
  color: var(--cor-branco);
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento .info h4 {
  font-family: var(--light);
  font-size: var(--f1);
  color: var(--cor-branco);
  margin: 5px 0 0 0;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .estrelas {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item .estrelas img {
  width: 100%;
  max-width: 20px;
  margin: 0 10px 0 0;
}

section.depoimentos .slide-depoimentos .itens-depoimento .item p {
  font-family: var(--light);
  font-size: var(--f2);
  color: var(--cor-branco);
  line-height: 1.5;
}

/* 
Responsivo 
*/
@media screen and (max-width: 1000px) {
  section.depoimentos {
    flex-direction: column-reverse;
    padding: 30px 0;
  }

  section.depoimentos .texto {
    width: 100%;
    padding: 0 30px 30px 30px;
  }

  section.depoimentos .texto h2 {
    font-size: var(--f5);
  }

  section.depoimentos .texto p {
    font-size: var(--f2);
  }

  section.depoimentos .slide-depoimentos {
    width: 100%;
  }

  section.depoimentos .slide-depoimentos .sombra {
    width: 100px;
    background: linear-gradient(0deg, #1d1d1d00, #1D1D1D);
    background: -webkit-linear-gradient(0deg, #1d1d1d00, #1D1D1D);

  }

  section.depoimentos .slide-depoimentos .sombra.dois {
    display: flex;
    right: auto;
    left: 0;
    background: linear-gradient(0deg, #1d1d1d, #1d1d1d00);
    background: -webkit-linear-gradient(0deg, #1d1d1d, #1d1d1d00);
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item {
    padding: 25px;
    width: 280px;
    min-width: 280px;
    margin: 0 15px 0 0;
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento {
    display: flex;
    align-items: center;
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento .foto {
    width: 40px;
    height: 40px;
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item .nome-depoimento .info h3 {
    font-size: var(--f2);
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item .estrelas {
    margin: 15px 0;
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item .estrelas img {
    max-width: 15px;
    margin: 0 5px 0 0;
  }

  section.depoimentos .slide-depoimentos .itens-depoimento .item p {
    font-size: var(--f2);
  }
}